.parent{
    margin: 10px;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f0f0f0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.parent > * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body{
    background-color: #989898;
}

.header {
    /*center the text*/
    text-align: center;
}

.title {
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
    margin: auto;
     grid-area: 1 / 2 / 2 / 5; 
    }
.staticid {
    font-size: 1em;
    padding-top: 5em;
    display: flex;
    align-items: flex-end;
     grid-area: 1 / 1 / 2 / 2; 
    }
.idnumber {
    font-size: 2em;
     grid-area: 2 / 1 / 3 / 2; 
    }
.staticqueue {
    display: flex;
    align-items: flex-end;
    font-size: 1em;
    padding-top: 5em;
     grid-area: 1 / 5 / 2 / 6; 
    }
.queuenumber {
    font-size: 2em;
     grid-area: 2 / 5 / 3 / 6; 
    }
.author {
    margin: auto;
    font-size: 2.5em;
     grid-area: 2 / 2 / 3 / 5; 
    }
